<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yq.dao.RoleMapper">

    <!--查询所有角色（条件）-->
    <select id="findAllRole" parameterType="com.yq.domain.Role" resultType="com.yq.domain.Role">

        select * from roles
        <where>
            <if test="name !=null and name != '' ">
                and name = #{name}
            </if>
        </where>

    </select>

    <!-- 根据角色ID查询关联的菜单信息ID public List<Integer> findMenuByRoleId(Integer roleid);-->
    <select id="findMenuByRoleId" resultType="int" parameterType="int">
        SELECT m.id
            FROM roles r INNER JOIN role_menu_relation rm ON r.id = rm.role_id
	                     INNER JOIN menu m ON m.id = rm.menu_id WHERE r.id =#{id}
    </select>

    <!--根据roleid删除在中间表与菜单的关联关系-->
    <delete id="deleteRoleContextMenu" parameterType="int">
        delete  from role_menu_relation where role_id = #{rid}
    </delete>

    <!--为角色分配菜单-->
    <insert id="roleContextMenu" parameterType="com.yq.domain.Role_menu_relation">
        insert into role_menu_relation values(null,#{menuId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedby})
    </insert>

    <!--删除角色  public void deleteRole(Integer roleid);-->
    <delete id="deleteRole" parameterType="int">
        delete from roles where id = #{roleid}
    </delete>

    <!--assn604 询当前角色拥有的资源分类信息-->
    <select id="findResourceCategoryByRoleId" parameterType="int" resultType="com.yq.domain.ResourceCategory">
        SELECT DISTINCT rc.*
        FROM resource_category rc
        INNER JOIN resource r
        ON rc.id = r.category_id
        INNER JOIN role_resource_relation rr
        ON r.id = rr.resource_id
        WHERE rr.role_id = #{id}
    </select>

    <!--查询当前角色拥有的资源信息-->
    <select id="findResourceByRoleId" parameterType="int" resultType="com.yq.domain.Resource">
        SELECT r.*
        FROM resource r
        INNER JOIN role_resource_relation rr
        ON r.id = rr.resource_id
        WHERE rr.role_id = #{id}
    </select>

    <!--删除角色和资源的关联关系-->
    <delete id="deleteRoleContextResource" parameterType="int">
        DELETE FROM role_resource_relation WHERE role_id = #{id}
    </delete>

    <!--为角色分配资源-->
    <insert id="roleContextResource" parameterType="com.yq.domain.RoleResourceRelation">
        INSERT INTO role_resource_relation VALUES(null,#{resourceId},#{roleId},#{createdTime},#{updatedTime},#{createdBy},#{updatedBy});
    </insert>

</mapper>